---
---

//Portfolio Flex

/**
 Try redoing as column-based flex
 */

// Width of the content area
//$flex-content-width:    1200px !default;
$spacing-unit:     30px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Wrapper
 */
.flex-wrapper {
  padding-right: 5px;
  padding-left: 5px;
}

div.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  //align-content: stretch;
  //align-items: flex-start;
}

.photo-bundle {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}

div.photo-bundle {
  //height: 40vh;
  flex-grow: 1;
  //max-width: 400px;
  border-bottom: 1px solid black;
}

a.photo-bundle {
  padding: 0px;
  
  h2, p {
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .flex-wrapper {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  
  img.photo-bundle {
    //align-self: center;
    height: 30vh;
    object-fit: cover;
  }
  
  a.photo-bundle {
    padding: 5px;
    
    h2, p {
      max-width: 40vw; //limits Description width for flow
    }
  }
  
  div.photo-bundle {
    flex-grow: 1;
	//max-width: 90vh;
    border-bottom: none;
  }
}