<!-- Resume date checker JS -->
<script type = "text/javascript" >
window.onload = function() {

    {% assign ongoingJob = site.data.Resume.work | where: "endDate", nil | first %}
    {% assign ongoingJobStartDate = ongoingJob.startDate %}

  function DateDiff(d1, d2) {
    var durationMonthsTotal = Math.floor((d2 - d1)/(1000*60*60*24*30));
    var durationYears = Math.floor(durationMonthsTotal / 12);
    var durationMonths = Math.floor(durationMonthsTotal % 12);
    
    if (durationYears > 1) {
      var durationYearsText = durationYears + " years ";
    } else if (durationYears == 1) {
      var durationYearsText = durationYears + " year ";
    } else {
      var durationYearsText = "";
    }
    if (durationMonths > 1) {
      var durationMonthsText = durationMonths + " months";
    } else if (durationMonths == 1) {
      var durationMonthsText = durationMonths + " month";
    } else {
      var durationMonthsText = "";
    }

    return durationYearsText + durationMonthsText
  }

  var d1 = new Date("{{ ongoingJobStartDate }}");;
  var d2 = new Date();

  document.getElementById("ongoingJobDuration").innerHTML = DateDiff(d1, d2);
}
</script>