---
layout: page
title: Blog
alt_title: Blog
pagination: 
  enabled: true
  category: posts
---

<div class="home">

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
		{%- if post.location.size > 0 -%}
			{%- assign locations = post.location -%}
			<span class="post-location">Postmark:
			{%- for location in locations -%}
				{%- if forloop.last -%}
					{{ location | prepend: " "}}
				{%- else -%}
					{{ location | prepend: " <del>" | append: "</del>" }}
				{%- endif -%}
			{%- endfor -%}
			</span><br>
		{%- endif -%}
		{%- if post.voice -%}
			<span class="post-voice">{{ post.voice }}:</span>
		{%- endif -%}
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {%- endif -%}
		<hr class="half-hr">
      </li>
      {%- endfor -%}
    </ul>

	<div class="pagination">
	  {% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}" class="previous">
		  Previous
		</a>
	  {% else %}
		<span class="previous">Previous</span>
	  {% endif %}
	  <span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
	  </span>
	  {% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
	  {% else %}
		<span class="next ">Next</span>
	  {% endif %}
	</div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
