<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
	{%- unless page.layout == "portfolio" -%}
		<div class="wrapper">
	  {%- else -%}
	    <div class="flex-wrapper">
	  {%- endunless -%}
		{%- unless page.sidebar == false -%}
			{%- include sidebar-right.html -%}
		{%- endunless -%}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
