---
asset: "/assets/Portfolios/"
sidebar: No
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="stylesheet" href="photos.css">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
	    <div class="flex-wrapper">
        <article class="post">
			<header class="post-header">
				<h1 class="post-title">{{ page.title | escape }}</h1>
				{% if page.subtitle %}<h2>{{ page.subtitle | escape }}</h2>{% endif %}
			</header>
			
			<div class="post-content">
				{%- assign rel_url = page.asset | append: page.image -%}

				<div class="photo-bundle">
					<p>{{ page.description }}</p>
					<figure class="photo-bundle">
						<img class="photo-bundle" src="{{ rel_url }}" alt="{{ page.description }}">
						<figcaption>{{ page.image }}</figcaption>
					</figure>
				</div>
			</div>
			
		</article>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>



