---
layout: page
asset: "/assets/Portfolios/"
---
<link rel="stylesheet" href="portfolio.css">

<article class="post">

<a href="/Portfolios.html"><h3>Back to Portfolio list</h3></a>

<div class="flex-container">
	{%- if page.title == "All" -%}
		{%- assign photos = site.data.Portfolios.photos -%}
	{%- else -%}
		{%- assign photos = site.data.Portfolios.photos | where: "portfolio", page.title -%}
	{%- endif -%}
	{%- for photo in photos -%}
		{%- assign rel_url = layout.asset | append: photo.image -%}
		{%- assign dest_url = photo.image | prepend: "photos/" | append: ".html" | replace: " ", "-" | downcase -%}
		{%- include image.html title=photo.title url=rel_url description=photo.description file=photo.image dest_url=dest_url -%}
	{%- endfor -%}
</div>

</article>
