---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
	{%- if page.subtitle %}<h2>{{ page.subtitle | escape }}</h2>{%- endif %}
  </header>

	<div class="post-content">
		<div class="sidebar-right" style="border-left: none">
			<img src="{{ site.data.Resume.basics.image }}"
				alt="B&W Headshot Picture">
		</div>
		
		{%- assign basics = site.data.Resume.basics %}
		<h2>{{ basics.name }}</h2>
		<ul class="post-list print-block">
			<li>One-Liner: {{ basics.label }}</li>
			<li>Website: <a class="page-link" href="{{ basics.website }}">{{ basics.website }}</a>
			{%- for profile in basics.profiles -%}
				<br>{{ profile.network }}: {{ profile.username }} - <a class="page-link" href="{{ profile.url }}">{{ profile.url }}</a>
			{%- endfor -%}</li>
			<li>Summary: <ul class="bullet">{%- for point in basics.summary -%}
					<li>{{ point  | newline_to_br }}</li>
				{%- endfor -%}
				</ul>
			</li>
		</ul>
		<hr>
		
		{%- assign skills = site.data.Resume.skills %}
		<h2 class="post-list-heading">Skills</h2>
		<div class="flex-container">
			{%- for skill in skills -%}
				{%- unless skill.name == "Soft Skills" -%}
				<div class="print-block skills">
					<h4>{{ skill.name }}</h4>
					{%- if skill.level != empty -%}{{ skill.level }}{%- endif -%}
					<div class="flex-container">
						{%- for keyword in skill.keywords %}
							<ul class="horizontal-list">
								<li>{{ keyword }}</li>
							</ul>
						{%- endfor %}
					</div>
					<hr class="half-hr">
				</div>
				{%- endunless -%}
			{%- endfor %}
		</div>
		
		<hr>
		
		{%- assign projects = site.data.Resume.projects %}
		<h2 class="post-list-heading">Projects</h2>
		<!-- <div> -->
			{%- for project in projects %}
				<div class="print-block">
					<h3>{{ project.name }}</h3>
					<p>{{ project.summary }}</p>
					<div class="flex-container">
						{%- for keyword in project.keywords %}
							<ul>
								<li>{{ keyword }}</li>
							</ul>
						{%- endfor %}
					</div>
				</div>
				{%- if forloop.last != true -%}
					<hr class="half-hr">
				{%- endif -%}
			{%- endfor %}
		<!-- </div> -->
		
		<hr>
		
		<!-- Removed for brevity
		{%- assign references = site.data.Resume.references %}
		<h2 class="post-list-heading">References</h2>
		<p>Additional references available on request, the following are those made public on LinkedIn.</p>
		<div>
			{%- for reference in references %}
				<div class="print-block">
					<h4>{{ reference.name }} - <em>{{ reference.company }}</em></h3>
					<p>{{ reference.reference }}</p>
				</div>
				{%- if forloop.last != true -%}
					<hr class="half-hr">
				{%- endif -%}
			{%- endfor %}
		</div>
		
		<hr>
		-->
		
		{%- assign work = site.data.Resume.work | where: "technical", "true" %}
		<h2 class="post-list-heading">Work</h2>
		<div>
			{%- for job in work %}
				{%- assign startSec = job.startDate | date: "%s" -%}
				{%- if job.endDate -%}
					{%- assign endSec = job.endDate | date: "%s" -%}
				{%- else -%}
					{%- assign endSec = "now" | date: "%s" -%}
				{%- endif -%}
				{%- assign jobMonths = endSec | minus: startSec | divided_by: 3600 | divided_by: 24 | divided_by: 30 -%}
				{%- assign jobYear = jobMonths | divided_by: 12 -%}
				{%- assign jobMonth = jobMonths | modulo: 12 -%}
				<div class="print-block">
					<h3>{{ job.company }}</h3>
					<div class="flex-container flex-container-space">
						<p>
							<em>{{ job.position }}</em>
							{%- if job.website != empty -%}
								<br><a class="page-link" href="{{ job.website }}">{{ job.website }}</a>
							{%- endif -%}
						</p>
						<p>
							{{ job.startDate }} - {% if job.endDate -%}{{ job.endDate }}{% else -%}ongoing{%- endif %}<br>
							<div{%- if job.endDate %}{%- else %} id="ongoingJobDuration"{%- endif %}>
								{%- if jobYear > 1 -%}
									{{ jobYear }} years
								{%- elsif jobYear == 1 -%}
									{{ jobYear }} year
								{%- endif -%}
								{%- if jobYear > 0 and jobMonth > 0 -%}
									&nbsp;
								{%- endif -%}
								{%- if jobMonth > 1 -%}
									{{ jobMonth }} months
								{%- elsif jobMonth == 1 -%}
									{{ jobMonth }} month
								{%- endif -%}
							</div>
						</p>
					</div>
					{%- if job.summary != empty -%}
						<p>{{ job.summary | newline_to_br }}</p>
					{%- endif -%}
					<div class="flex-container">
						{%- for keyword in job.highlights -%}
							<ul class="horizontal-list">
								<li>{{ keyword }}</li>
							</ul>
						{%- endfor -%}
					</div>
				</div>
				{%- comment %}
					<!-- For removing the <hr> in the last loop -->
					{%- if forloop.last != true -%}
						<hr class="half-hr">
					{%- endif -%}
				{%- endcomment %}
				<hr class="half-hr">
			{%- endfor %}
		</div>
		
		{%- assign work = site.data.Resume.work | where: "technical", "false" %}
		<!-- <h2 class="post-list-heading">Work</h2> -->
		<div class="flex-container">
			{%- for job in work %}
				{%- assign startSec = job.startDate | date: "%s" -%}
				{%- if job.endDate -%}
					{%- assign endSec = job.endDate | date: "%s" -%}
				{%- else -%}
					{%- assign endSec = "now" | date: "%s" -%}
				{%- endif -%}
				{%- assign jobMonths = endSec | minus: startSec | divided_by: 3600 | divided_by: 24 | divided_by: 30 -%}
				{%- assign jobYear = jobMonths | divided_by: 12 -%}
				{%- assign jobMonth = jobMonths | modulo: 12 -%}
				<div class="print-block non-technical">
					<h3>{{ job.company }}</h3>
					<div>
						<p>
							<em>{{ job.position }}</em>
							{%- if job.website != empty -%}
								<br><a class="page-link" href="{{ job.website }}">{{ job.website }}</a>
							{%- endif -%}
						</p>
						<p>
							{{ job.startDate }} - {%- if job.endDate %}{{ job.endDate }}{%- else %}ongoing{%- endif %}<br>
							{%- if jobYear > 1 -%}
								{{ jobYear }} years
							{%- elsif jobYear == 1 -%}
								{{ jobYear }} year
							{%- endif -%}
							{%- if jobYear > 0 and jobMonth > 0 -%}
									&nbsp;
								{%- endif -%}
							{%- if jobMonth > 1 -%}
								{{ jobMonth }} months
							{%- elsif jobMonth == 1 -%}
								{{ jobMonth }} month
							{%- endif -%}
						</p>
					</div>
				</div>
			{%- endfor %}
		</div>
		
		<hr>
		
		<!-- removed for brevity
		{%- assign interests = site.data.Resume.interests %}
		<h2 class="post-list-heading">Interests</h2>
			{%- for interest in interests %}
				<div class="print-block">
					<h3>{{ interest.name }}</h3>
					<p>{{ interest.summary }}</p>
					<div class="flex-container">
						{%- comment %}
							{%- for keyword in interest.keywords %}
								<ul class="horizontal-list">
									<li>{{ keyword }}</li>
								</ul>
							{%- endfor %}
						{%- endcomment %}
					</div>
				</div>
				{%- if forloop.last != true -%}
					<hr class="half-hr">
				{%- endif -%}
			{%- endfor %}
		
		<hr>
		-->
		
		{%- assign courses = site.data.Resume.education %}
		<h2 class="post-list-heading">Education</h2>
		<div>
			{%- for course in courses %}
				<div class="print-block">
					<h4>{{ course.institution }} <!-- Removed for age descrimination | <em>{{ course.startDate | date: "%Y" }} - {{ course.endDate | date: "%Y" }}</em> --></h4>
					<p>{{ course.studyType }}: {{ course.area }} | <em>{{ course.gpa }}</em></p>
				</div>
				{%- if forloop.last != true -%}
					<hr class="half-hr">
				{%- endif -%}
			{%- endfor %}
		</div>
		<hr>
	</div>

</article>
